.information {
  display: flex;
  flex-direction: row;
  height: 1080px;
  text-align: center;
}
.information > .cont1 {
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 1400px;
}

.cont1 > h1 {
  width: 716px;
  height: 128px;
  top: 131px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  align-items: center;
  text-align: center;
  color: #fe3b1f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.infoform {
  height: 350px;
  width: 455px;
  left: 235px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  justify-content: space-between;
}

.infoinput {
  position: relative;
  width: 455px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #525557;
  box-sizing: border-box;
  padding: 2%;
  
}
::placeholder {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  color: #454545;
}

.infoinput > p {
  width: 209px;
  height: 16px;
  left: 290px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #fe3b1f;
}

.information > .cont2 {
  background-color: rgb(21, 23, 24);
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 1400px;
}

.cont2 > h1 {
  width: 716px;
  height: 94px;
  top: 112px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  color: #fe3b1f;
}
.cont2 > p {
  position: relative;
  width: 705px;
  height: 500px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
  display: flex;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: justify;
  padding-top: 20%;
}
.pages {
  position: relative;
  width: 231px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  top: 8%;
  margin: auto;
  text-align: center;
}
.nextPreviusPages {
  width: 26px;
  height: 26px;
  border: 3px solid #fe3b1f;
  display: flex;
  border-radius: 50%;
  color: #fe3b1f;
  text-align: center;
  align-items: center;
  font-size: 19px;
  font-family: Rowdies;
  font-style: bold;
  font-weight: bold;
  
}
.eclipses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}
.eclipseRed {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #fe3b1f;
}

.eclipseLight {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #fe3b1f;
  opacity: 0.1;
}